# Connect IQ build output
bin/
gen/
*.prg
*.prg.debug.xml
*.iq

# Device-specific build dirs
*-mir/
mir/

# VS Code
.vscode/

# Settings exports
*-settings.json

# Developer key
developer_key

# Samples
samples/

# Python
*.pyc
__pycache__/

# macOS
.DS_Store

# Misc
*.zip
